.env
.git
.ipynb_checkpoints
constants.py
__pycache__/
articles1.csv
complettion_prepared.jsonl
gpt3_promts_prepared.jsonl
GPT3-Disinformation/
prompt_prepared.jsonl
prompts_completion_prepared.jsonl
survey_articles.csv
